#container{
  display: grid;
  background-color: rgb(216, 211, 211);
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1.5fr 1.5fr ;
  grid-template-areas: 
  "sidebar statistics statistics statistics"
  "sidebar webVisiter webVisiter webVisiter"
  ;
}
.sidebar{
  grid-area: sidebar;
  background-color: rgb(180, 177, 177);
  margin: 50px;
  margin-top: 10px;
}
.sidebarWrap{
  display: grid;
  place-items: center;
  margin-top: 300px;
}
#reviews{
  grid-area: reviews;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(180, 177, 177);
}
#avRating{
  grid-area: avRating;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(180, 177, 177);
}
#sntAnal{
  grid-area: sntAnal;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(180, 177, 177);
}
.webVisiter{
  grid-area: webVisiter;
  background-color: rgb(180, 177, 177);
  margin: 50px;
}
.graph{
  height: 300px;
  margin: 50px;
  margin-top: 100px;
  justify-content:flex-end;
  background-color: rgb(139, 136, 136);
}
.statistics{
  margin: 10px;
  grid-area: statistics;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "reviews avRating sntAnal ";
  justify-content: inline; 
}
